@import "bower_components/bootstrap";

[ng\:cloak], [ng-cloak], .ng-cloak
    display: none !important

body
    padding-top: 25px
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 14px
    line-height: 1.6
.card
    .tl-img-crop
        height: 200px
        padding: 0px
        overflow: hidden
        img
    .card-block
        .tl-img-protrait
            height: 150px
            width: 150px
            margin-top: -100px

form
    .ng-dirty
        background-color: PapayaWhip
