body
    padding-top: 50px
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 14px
    line-height: 1.6
.card
    .tl-img-crop
        height: 200px
        padding: 0px
        overflow: hidden
        img
    .card-block
        .tl-img-profile
            height: 150px
            width: 150px
            margin-top: -100px
